//
// user.scss
// Use this to write your custom SCSS
//
.btn-twitter{background-color:#1da1f2}
.bg-cover{
  background-position: center;
}
.modal{
  z-index: 98!important;
}
.modal-backdrop{
  z-index: 97!important;
}
.bg-black{
    background-color: #100e17
}

.input-text-lg{
  font-size: 64px
}
//margins
.mt-n38{
  margin-top: -3.8rem !important
}

.animated-background {
	background: linear-gradient(-45deg, #FAAD14, #F7169C, #3435F5);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
.animated-under-text {
    color: #fff;
    background: linear-gradient(244.71deg,#ffe600 -35.32%,#faad14 10.66%,#f7169c 54.29%,#3435f5 94.81%);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 50%;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
